/* Creation page selection */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height to make footer stick to the bottom */
  }

  .full-background-white {
    background-image: url(../images/background-white.webp),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-blend-mode: overlay, overlay, normal;
  }

  .bg-white-2 {
    background-image: url(../images/white-2.jpeg),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay, overlay, normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Main content area - centers content horizontally and aligns on right */
  .main-content {
    flex: 1; /* Grow to fill space between header and footer */
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center; /* Vertically centers content */
    padding-right: 20px; /* Adds padding to the right */
  }
  
  /* Styles for the container image */
  .container-image {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px; /* Optional: adds margin for spacing */
  }
  
  /* Footer styles - fixed to the bottom */
  .footer {
    padding: 10px;
    background-color: #f8f9fa; /* Optional: change background color */
    text-align: center; /* Center text */
    border-top: px solid #ddd; /* Optional: adds a top border for separation */
  }